* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    z-index: 10;
}

.header__img {
    width: 114px;
    height: 33px;
    margin: 50px;
    transition: 0.5s;
    animation: into 1s ease-in-out 1;

    &:hover {
        scale: 1.2;
    }
}

@keyframes into {
    from {
        transform: translateY(-100px);
    }    
    to {
        transform: translateY(0);
    }
}

.nav__ul {
    display: flex;
    gap: 74px;
    align-items: center;
}

.link {
    list-style: none;
    transition: 0.5s;

    &:hover {
        scale: 1.5;
        color: rgba(213, 13, 13, 0.656);
    }
}

a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    color: #212832;
}

.hero {
    display: flex;
}

.sign {
    border: 1px solid #212832;
    padding: 10px 15px;
    border-radius: 5px;
}

.decore {
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 1;
}

.right__desk {
    font-size: 20px;
    color: #DF6951;
    font-weight: 700;
}

.right__title {
    font-size: 84px;
    color: #181E4B;
    line-height: 89px;
    position: relative;
    z-index: 7;
}

.tx {
    color: #5E6282;
    line-height: 30px;
}

.right__down {
    display: flex;
    margin-top: 34px;
}

.down__btn {
    background: #F1A501;
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    transition: 0.5s;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.15);
    }
}

.svg {
    border-radius: 100%;
    fill: #df6951;
    box-shadow: 0 3 px 5px 0 rgba(223, 105, 81, 0.3);
}

.down__text {
    color: #D9D9D9;
    margin-top: 20px;
}

.sbg {
    position: absolute;
    top: 600px;
    left: 296px;
}

.decoretion {
    position: absolute;
    top: 240px;
    left: 300px;
    z-index: 0;
}

.hero__img {
    position: relative;
    top: -50px;
    z-index: 3;
    animation: wow 1s ease-in 1;
}

@keyframes wow {
    from {
        transform: translateX(700px);
    }
    to {
        transform: translateX(10px);
    }
}

.plane {
    position: absolute;
    left: 725px;
    z-index: 2;
}

.plane1 {
    position: absolute;
    z-index: 2;
    left: 1200px;
    top: 200px;
}

.about__desk {
    font-weight: 600;
    font-size: 18px;
    color: #5e6282;
    font-size: 18px;
}

.about__title {
    font-size: 50px;
    text-transform: capitalize;
    color: #14183e;
}

.travel__desk {
    line-height: 125%;
    color: #5e6282;
}

.travel__title {
    line-height: 125%;
    color: #5e6282;
}

.ot {
    margin: 48px 0 48px 0;
}

.travel {
    display: flex;
    margin-top: 31px;
    align-items: center;
    position: relative;
}

.icon11 {
    background: #f0bb1f;
    border-radius: 13px;
    width: 47px;
    height: 48px;
    top: 10px;
    margin-right: 21px;
    position: relative;
}

.icons {
    background: #f15a2b;
    border-radius: 13px;
    width: 47px;
    height: 48px;
    margin-right: 21px;
    position: relative;
}

.icone {
    background: #006380;
    border-radius: 13px;
    width: 47px;
    height: 48px;
    margin-right: 21px;
    position: relative;
}

.icon11 svg {
    position: absolute;
    left: 13px;
    top: 13px;
}

.icons svg {
    position: absolute;
    left: 13px;
    top: 13px;
}

.icone svg {
    position: absolute;
    left: 13px;
    top: 13px;
}

.about__card {
    width: 330px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
    height: 350px;
    position: relative;
    z-index: 10;
}

.shadow  {
    position: absolute;
    z-index: 1;
    top: -200px;
    right: -50px;
    animation: op 3s ease-in 1;
}

@keyframes op {
    from {
        opacity: 0;
    }    
    to {
        opacity: 1;
    }
}

.about__icons {
    display: flex;
    gap: 15px;
    font-size: 20px;
    margin-bottom: 15px;
    margin: 20px 0;
}

.about__img {
    width: 290px;
}

.about__title {
    margin: 10px 0;
    font-size: 18px;
}

.icon1 {
    margin: 20px 0 20px 10px;
}


.about__people {
    color: #7a7a7a;
    font-size: 15px;
    margin: 10px 0;
}

.progress {
    margin-top: 0;
    width: 240px;
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    gap: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 200px;
    left: 180px;
    z-index: 3;
}



.progress__img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}


.progress__status {
    color: #8c8c8c;
    font-size: 12px;
}


.progress__title {
    font-size: 16px;
    margin: 2px 0;
}


.progress__percent {
    color: #8c8c8c;
    font-size: 12px;
}


.progress__bar {
    width: 100%;
    background: #e6e6ff;
    height: 6px;
    border-radius: 10px;
    margin-top: 5px;
}


.progress__bar-fill {
    width: 40%;
    height: 100%;
    background: #9b6bff;
    border-radius: 10px;
}

.about {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about__right {
    width: 60%;
}

.about__left {
    width: 40%;
    z-index: 2;
    position: relative;
}

.comment {
    width: 40%;
}

.testim {
    width: 60%;
}

.comment__subtitle {
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: 1px;
}

.comment__title {
    font-size: 40px;
    margin-top: 10px;
    line-height: 1.2;
    color: #1a1a1a;
}

.comment__dots {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.comment__dots span {
    width: 10px;
    height: 10px;
    background: #dcdcdc;
    border-radius: 50%;
}

.comment__dots span:first-child {
    background: #3743fa;
}

.testim {
    width: 50%;
    position: relative;
}

.testim__card {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.abso {
    position: absolute;
    left: 100px;
    bottom: -40px;
    z-index: 1;
}

.testim__card.active {
    transform: translateY(-20px);
}

.testim__img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 20px;
}

.testim__text {
    color: #333;
    font-size: 16px;
    margin-top: 40px;
    line-height: 1.5;
}

.testim__name {
    margin-top: 10px;
    font-weight: bold;
    color: #111;
}

.testim__pos {
    font-size: 14px;
    color: #777;
}

.idk {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.services-title {
    text-align: center;
}

.services-title h2 {
    font-size: 18px;
    color: #5E6282;
}

.services-title h3 {
    font-size: 50px;
    color: #14183E;
}

.services-cards {
    display: flex;
    margin-top: 80px;
    gap: 80px;
    justify-content: center;
}

.services-card {
    text-align: center;
    background-color: #FFFF;
    border: 1px solid none;
    width: 220px;
    height: 227px;
    transition: 0.5s ease;
    border-radius: 36px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
}

.services-card h3 {
    font-size: 20px;
    color: #1E1D4C;
    margin-top: 30px;
}

.services-card p {
    font-size: 17px;
    color: #5E6282;
    margin-top: 15px;
}

.services-card img {
    width: 82px;
    height: 68px;
}

.services-card:hover {
    transform: translateY(-9px);
}

.destinations-section {
    text-align: center;
    margin-top: 140px;
    position: relative;
}

.subtitle {
    color: #A6A6A6;
    font-size: 16px;
}

.title {
    font-size: 38px;
    font-weight: 700;
    margin-top: 5px;
    color: #1b1b3a;
}

.decor-image {
    position: absolute;
    right: 90px;
    top: 230px;
    width:110px;     
    z-index: -1;        
}

.cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    background: #fff;
    width: 320px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.25s;
}

.card:hover {
    transform: translateY(-8px);
}

.card-img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.card-body {
    padding: 20px 22px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row h3 {
    font-size: 18px;
    font-weight: 600;
}

.price {
    font-weight: 600;
    color: #1b1b3a;
}

.trip-info {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}

.icon {
    font-size: 18px;
}


.subscribe-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
}

.subscribe-box {
    width: 80%;
    background: #f4f1ff;
    padding: 70px 40px;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

.subscribe-box h2 {
    font-size: 24px;
    color: #3d3b59;
    line-height: 36px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}

.input-box {
    display: flex;
    align-items: center;
    background: white;
    padding: 14px 18px;
    border-radius: 12px;
    width: 330px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.mail-icon {
    font-size: 17px;
    color: #8b8b8b;
}

.input-box input {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;
    font-size: 14px;
}

.subscribe-btn {
    background: #ff6f56;
    padding: 14px 26px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.telegram-icon {
    position: absolute;
    right: 9%;
    top: -20px;
    background: #5a65ff;       
    color: white;
    font-size: 22px;
    padding: 18px;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(90, 101, 255, 0.35);
    z-index: 10;
}


.decor-left {
    position: absolute;
    left: 14%;
    top: 4px;
    width: 250px;
    opacity: 0.10;
    z-index: 1;
    transform: rotate(90deg);  
    transform-origin: center;

}

.decor-right {
    position: absolute;
    right: 10%;
    top: 5px;
    width: 160px;
    opacity: 0.10;
    z-index: 1;
}

.decor-buttom{
    position: absolute;
    width: 150px;
    right: 2%;
    top: 190px;
}

.footer {
    width: 80%;
    margin: 120px auto 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left h1 {
    font-size: 34px;
    color: #3b3a58;
}

.footer-left p {
    margin-top: 10px;
    color: #76737f;
    line-height: 24px;
}

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #3b3a58;
}

.footer-col p {
    color: #76737f;
    margin: 5px 0;
}

.footer-right {
    text-align: center;
}

.socials {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #dad8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #080809;
    font-size: 17px;
}

.gradient{
     width: 38px;
    height: 38px;
    border-radius: 50%;
        background: linear-gradient(
        135deg,
        #B8D2F1,
        #F289AA,
        #C68BF0,
        #D164DA,
        #C963E8,
        #BFC2E8,
        #FFC999,
        #D0D8C9,
        #BAD0F1,
        #CED8CB
    );
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 17px;
}

.app-title {
    margin-top: 20px;
    color: #3b3a58;
}

.app-buttons img {
    width: 120px;
    margin-top: 10px;
}

.copyright {
    text-align: center;
    color: #6f6f6f;
    margin-bottom: 40px;
}
